n8n-workflow/workflows/B_weekly_report_compile.json
{
  "name": "B — PWM 주간보고 취합·초안 (Data Table → Notion)",
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Seoul"
  },
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * 5"
            }
          ]
        }
      },
      "id": "b1b2c3d4-0001-4b01-8b01-000000000001",
      "name": "매주 금 09:00 (Schedule)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        200
      ]
    },
    {
      "parameters": {},
      "id": "b1b2c3d4-0002-4b02-8b02-000000000002",
      "name": "테스트 실행 (Manual)",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        400
      ]
    },
    {
      "parameters": {
        "resource": "row",
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "mode": "list",
          "value": "",
          "cachedResultName": "weekly_submissions"
        },
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "weekKey",
              "condition": "eq",
              "keyValue": "={{ $now.toFormat(\"kkkk-'W'WW\") }}"
            }
          ]
        },
        "matchType": "all",
        "options": {}
      },
      "id": "b1b2c3d4-0003-4b03-8b03-000000000003",
      "name": "이번 주 제출분 조회 (Data Table)",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        260,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map(i => i.json);\nconst week = rows[0]?.weekKey || $now.toFormat(\"kkkk-'W'WW\");\n\nconst H = (t) => ({ object: 'block', type: 'heading_2',\n  heading_2: { rich_text: [{ type: 'text', text: { content: t } }] } });\nconst P = (t) => ({ object: 'block', type: 'paragraph',\n  paragraph: { rich_text: [{ type: 'text', text: { content: (t || '').slice(0, 1900) } }] } });\n\nconst children = [ H('프로젝트 일정 / 할 일 / 이슈'), P('(회의에서 작성)'), H('팀원별 보고') ];\n\nif (rows.length === 0) {\n  children.push(P('이번 주 제출된 보고가 없습니다.'));\n} else {\n  for (const r of rows) {\n    children.push(P(`👤 ${r.author}\n• 금주 할 일: ${r.todo || '-'}\n• 이슈: ${r.issue || '없음'}\n• 논의사항: ${r.discuss || '없음'}`));\n  }\n}\n\nconst body = {\n  parent: { database_id: 'REPLACE_WITH_DATABASE_ID' },\n  properties: { \"Name\": { title: [ { text: { content: `PWM 주간보고 초안 (${week})` } } ] } },\n  children\n};\n\nreturn [{ json: { body } }];"
      },
      "id": "b1b2c3d4-0004-4b04-8b04-000000000004",
      "name": "회의록 블록 생성 (Code)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/pages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ $json.body }}",
        "options": {}
      },
      "id": "b1b2c3d4-0005-4b05-8b05-000000000005",
      "name": "Notion 초안 생성 (HTTP)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        780,
        300
      ]
    }
  ],
  "connections": {
    "매주 금 09:00 (Schedule)": {
      "main": [
        [
          {
            "node": "이번 주 제출분 조회 (Data Table)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "테스트 실행 (Manual)": {
      "main": [
        [
          {
            "node": "이번 주 제출분 조회 (Data Table)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "이번 주 제출분 조회 (Data Table)": {
      "main": [
        [
          {
            "node": "회의록 블록 생성 (Code)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "회의록 블록 생성 (Code)": {
      "main": [
        [
          {
            "node": "Notion 초안 생성 (HTTP)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {}
}